.field-validation-error {
	color: #ff0000;
}
.field-validation-valid {
	display: none;
}
.input-validation-error {
	outline: 1px solid #ff0000;
	border: none;
	background-color: #FEE;
}
.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}
.validation-summary-errors ul {
	list-style: none;
}
.validation-summary-valid {
	display: none;
}